@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('robotolight.woff2') format('woff2'), url('robotolight.woff') format('woff'), url('robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('robotoblack.woff2') format('woff2'), url('robotoblack.woff') format('woff'), url('robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, header {
	height: 100%;
}
body {
	font: 100%/1.5em 'Open Sans', Helvetica, sans-serif;
	color: #fff;
}
article, aside, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section {
	display: block;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.container .cols {
	float: left;
	margin: 30px 0;
	padding: 0 15px;
}
.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
	content: '';
	display: table;
}
.container:after,
.row:after,
.clear:after {
	clear: both;
}
.container .cols.col-1 {
	width: 100px;
}
.container .cols.col-2 {
	width: 200px;
}
.container .cols.col-3 {
	width: 300px;
}
.container .cols.col-4 {
	width: 400px;
}
.container .cols.col-5 {
	width: 500px;
}
.container .cols.col-6 {
	width: 600px;
}
.container .cols.col-7 {
	width: 700px;
}
.container .cols.col-8 {
	width: 800px;
}
.container .cols.col-9 {
	width: 900px;
}
.container .cols.col-10 {
	width: 1000px;
}
.container .cols.col-11 {
	width: 1100px;
}
.container .cols.col-12 {
	width: 1200px;
}
header {
	background: url(../images/header.jpg) no-repeat center;
	min-width: 1200px;
	min-height: 698px;
	background-size: cover;
	box-shadow: inset 0 90px 0 0 rgba(255, 255, 255, 0.23);
}
.header-logo {
	text-align: center;
}
header nav ul {
	list-style: none;
	font-weight: bold;
	font-size: 0.75em;
	justify-content: space-between;
	color: #9daeb6;
}
header nav li {
	display: inline-block;
	margin-right: 25px;
}
header nav a {
	text-decoration: none;
	color: #9daeb6;
}
.current {
	border-bottom: 2px solid #36aeea;
}
header nav a:hover {
	border-bottom: 2px solid #36aeea;
}
button {
	font-family: Raleway;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}
header button.call {
	float: right;
	width: 150px;
	height: 45px;
	background-color: transparent;
	border: 3px solid #36aeea;
	border-radius: 3px;
	font-size: 0.75em;
	color: #36aeea;
	margin-top: -0.75em;
}
header .order {
	margin-top: 95px;
	border: 3px solid #fff;
	height: 323px;
	font-size: 1.125em;
}
header .order img {
	margin: 40px 0 0 40px;
}
header .order p {
	margin-left: 40px;
	margin-top: 15px;
}
header .order button {
	width: 250px;
	height: 60px;
	margin-left: 40px;
	margin-top: 30px;
	border: none;
	background: #36aeea;
	border-radius: 10px;
	font-size: 0.875em;
	color: #fff;
}
.main .about {
	background: #f6f4f4;
	min-width: 1200px;
}
.main .about .row {
	background: url(../images/aboutBg.png) no-repeat 100px 20px;
	height: 670px;
	min-width: 1200px;
}
.main .about-text {
	padding-top: 230px;
}
.main .about-text h3, .offer h3 {
	color: #000;
}
.main .about-text p {
	color: #949494;
	font-size: 0.875em;
	margin-top: 30px;
}
.main .about-button {
	margin-top: 35px;
	height: 40px;
	width: 130px;
	background: #36aeea;
	border: none;
	border-radius: 10px;
	color: #fff;
}
.about img {
	position: absolute;
}
.about img:first-child {
	margin-top: -75px;
	margin-left: -30px;
}
.about img:last-child {
	margin-left: 70px;
	margin-top: 260px;
}
.journal h1, .work h1, footer h1 {
	color: #000;
	text-align: center;
	margin-top: 85px;
}
.journal h4 {
	color: #16b5ef;
	text-align: center;
	margin-top: 50px;
	margin-left: -15px;
}
.journal h3 {
	color: #212121;
	text-align: center;
	margin-top: 50px;
	margin-left: -15px;
}
.journal p {
	color: #949494;
	font-size: 0.875em;
	margin-top: 30px;
	text-align: center;
	margin-left: -15px;
}
.journal .row:nth-child(2) .cols {
	margin-bottom: 0px;
} 
.journal .row:last-child .cols {
	margin-top: 0px;
}
.journal .tree img {
	margin-left: -15px;
}
.journal .water img {
	margin-left: -30px;
}
.offer {
	background: url(../images/offerBg.jpg) no-repeat center center;
	min-width: 1200px;
	min-height: 651px;
	background-size: cover;
	margin-top: 60px;
}
.offer .row:first-child {
	margin-top: 170px;
}
.offer p {
	color: #949494;
	margin-top: 1.875em;
}
.offer form input {
	width: 300px;
	height: 65px;
	border: none;
	font-size: 1em;
	padding-left: 20px;
}
.offer .row:nth-child(2) .cols {
	margin-top: 0;
}
.offer button {
	width: 220px;
	height: 55px;
	border-radius: 10px;
	border: none;
	background: #36aeea;
	color: #fff;
}
.offer img {
	position: absolute;
	margin-top: 20px;
}
.offer img + p {
	font-size: 14px;
	color: #36aeea;
	margin: 15px 0 0 20px;
}
.work .number {
	width: 40px;
	height: 40px;
	border: 3px solid #36aeea;
	background: #fff;
	border-radius: 50%;
	margin: 0 auto;
	color: #36aeea;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	
}
.work .line {
	width: 260px;
	margin: -82px 55px;
	border-top: 2px solid #f0f3f6;
}
.work .line-vertical {
	height: 69px;
	border-left: 2px solid #f0f3f6;
	margin: 102px 34px;
}
.work .line-vertical-last{
	height: 69px;
	border-left: 2px solid #f0f3f6;
	margin: -60px 34px;
}
.work .hexagon {
	position: absolute;
	margin: -107px 74px;
}
.work .hexagon .block {
  width: 120px;
  height: 69px;
  background: white;
  position: absolute;
}
.work .hexagon .left {
  transform: rotate(60deg);
  box-shadow: 5px 0 5px 0 #cacdcf;
}
.work .hexagon .right {
  transform: rotate(-60deg);
  box-shadow: -5px 0 5px 0 #cacdcf;
}
.work .hexagon .circle {
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 50%;
  background: #f0f3f6;
  margin-top: -55px;
  margin-left: -30px;
  z-index: -1;
}
.work .hexagon .center {
	z-index: 1;
	text-align: center;
}
.work .hexagon .center img {
	margin-top: 15px;
}
.work span {
	font-weight: 300;
	color: #000;
}
.work p {
	font-family: Roboto;
	font-weight: 900;
	text-align: center;
	margin-top: 40px;
	color: #949494;
}
footer {
	background: url(../images/footerBg.png) no-repeat;
	min-width: 1200px;
	min-height: 1200px;
	background-size: cover;
}
footer .quotes {
	font-family: Arial;
	color: #949494;
	font-size: 92px;
	margin-top: 90px;
	line-height: 0px;

}
footer p {
	color: #949494;
}
footer .row:nth-child(3) .cols {
	margin-top: 0;
}
footer .peopleSays p {
	color: #36aeea;
	margin: 20px 80px;
}
footer .peopleSays img {
	position: absolute;
} 
footer form {
	width: 515px;
	height: 500px;
	margin: -50px auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
footer form h1 {
	color: #36aeea;
	font-size: 36px;
	padding-top: 40px;
}
footer form p {
	color: #000;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 40px;
}
footer form input {
	display: block;
	width: 455px;
	height: 60px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	padding-left: 20px;
	margin: 20px auto;
}
footer form button {
	width: 455px;
	height: 70px;
	border-radius: 10px;
	border: none;
	display: block;
	margin: 0 auto;
	background: #36aeea;
	color: #fff;
}
footer .social {
	text-align: center;
	margin-top: 57px;
}
footer .social img {
	position: absolute;
}
footer .social img:first-child {
	margin-left: -45px;
}
footer .social img:last-child {
	margin-left: 45px;
}
